$color-main: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

$color-dark-1: #303133;
$color-dark-2: #606266;
$color-dark-3: #909399;
$color-dark-4: #C0C4CC;

$color-light-4: #DCDFE6;
$color-light-3: #E4E7ED;
$color-light-2: #EBEEF5;
$color-light-1: #F2F6FC;