@import 'colors';

@mixin t-h1 {
  font-size: 20px;
  color: $color-dark-1;
  font-weight: normal;
}

@mixin t-h2 {
  font-size: 18px;
  font-weight: normal;
}

@mixin t-h3 {
  font-size: 16px;
  font-weight: normal;
}

@mixin t-body {
  font-size: 14px;
}

@mixin t-body-small {
  font-size: 13px;
}

@mixin t-supplement {
  font-size: 12px;
  color: $color-dark-4;
}